<template>
  <q-page class="flex flex-center" padding>
    <div style="min-width: 400px" class="q-my-xl q-my-xl">
      <q-form @submit="handleSubmit">
        <q-card class="my-card">
          <q-card-section class="text-center text-h5 bg-secondary text-white">
            Create New Task
          </q-card-section>

          <q-card-section>
            <q-input
              outlined
              dense
              label="ID"
              v-model="formData.id"
              lazy-rules
              class="q-mt-lg q-mb-sm"
              :rules="[(val) => !!val || 'Field is required']"
            />
            <q-input
              outlined
              dense
              v-model="formData.task_title"
              label="Title"
              lazy-rules
              class="q-mb-sm"
              :rules="[(val) => !!val || 'Field is required']"
            />
            <q-input
              outlined
              dense
              label="Content"
              v-model="formData.task_name"
              type="textarea"
              class="q-mb-sm"
              lazy-rules
              :rules="[(val) => !!val || 'Field is required']"
            />
            <q-input
              v-model="formData.time"
              lazy-rules
              outlined
              dense
              class="q-mb-sm"
              :rules="[(val) => !!val || 'Field is required']"
            >
              <template v-slot:prepend>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy
                    cover
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-date
                      v-model="formData.time"
                      lazy-rules
                      :rules="[(val) => !!val || 'Field is required']"
                      mask="YYYY-MM-DD HH:mm"
                    >
                      <div class="row items-center justify-end">
                        <q-btn
                          v-close-popup
                          label="Close"
                          color="primary"
                          flat
                        />
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>

              <template v-slot:append>
                <q-icon name="access_time" class="cursor-pointer">
                  <q-popup-proxy
                    cover
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-time
                      v-model="formData.time"
                      mask="YYYY-MM-DD HH:mm"
                      lazy-rules
                      :rules="[(val) => !!val || 'Field is required']"
                      format24h
                    >
                      <div class="row items-center justify-end">
                        <q-btn
                          v-close-popup
                          label="Close"
                          color="primary"
                          flat
                        />
                      </div>
                    </q-time>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
            <div class="q-mb-sm">
              <q-select
                outlined
                v-model="formData.status"
                :options="options"
                lazy-rules
                dense
                label="Task Progress"
                :rules="[(val) => !!val || 'Field is required']"
              />
            </div>
            <q-btn
              type="submit"
              color="secondary"
              label="Submit"
              class="full-width"
            />
          </q-card-section>
        </q-card>
      </q-form>
    </div>

    <div style="min-width: 500px" class="q-ml-xl">
      <q-card class="my-card text-black bg-blue-grey-1">
        <q-card-section>
          <div class="text-h4">List of Tasks</div>
        </q-card-section>

        <q-separator dark />

        <q-card-section v-if="todoData.length > 0">
          <q-list bordered>
            <q-item v-for="(value, i) in todoData" :key="i" class="">
              <q-item-section>
                <q-item-label class="text-h6">{{
                  value.task_title
                }}</q-item-label>
                <q-item-label>{{ value.task_name }}</q-item-label>
              </q-item-section>

              <q-item-section side top>
                <q-item-label caption>{{ value.time }}</q-item-label>
                <q-item-label caption>{{ value.status }}</q-item-label>
                <q-item-label>
                  <q-icon
                    size="sm"
                    @click="handleClickShow(value)"
                    name="update"
                    class="cursor-pointer q-mr-sm"
                    color="green"
                  />
                  <q-icon
                    size="sm"
                    @click="handleDelete(value.id)"
                    name="delete"
                    class="cursor-pointer"
                    color="red"
                  />
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-card-section>
        <q-card-section v-else>
          <q-item>
            <q-item-section> No Task for today </q-item-section>
          </q-item>
        </q-card-section>
      </q-card>
    </div>
    <q-dialog v-model="fixed">
      <UpdatedCard
        :id="updatedTodo.id"
        :task_title="updatedTodo.task_title"
        :task_name="updatedTodo.task_name"
        :time="updatedTodo.time"
        :status="updatedTodo.status"
        :refreshData="fetchData"
      />
    </q-dialog>
  </q-page>
</template>

<script setup>
import { ref } from "vue";
import { api } from "../boot/axios";
import UpdatedCard from "../components/UpdateCard.vue";

const initialData = {
  id: "",
  task_title: "",
  task_name: "",
  time: "",
  status: "",
};

const fixed = ref(false);

const todoData = ref([]);

const updatedTodo = ref({
  id: "",
  task_title: "",
  task_name: "",
  time: "",
  status: "",
});

const formData = ref({ ...initialData });

const options = ["Inprogress", "Done"];

const handleSubmit = async () => {
  try {
    await api.post(
      "http://localhost/onboarding_task_2/server/api.php",
      formData.value
    );
    fetchData();
    formData.value = { ...initialData };
  } catch (error) {
    console.error(error);
  }
};

const fetchData = async () => {
  try {
    const response = await api.get(
      "http://localhost/onboarding_task_2/server/api.php"
    );

    todoData.value = response.data.data;
  } catch (error) {
    console.error(error);
  }
};

const handleDelete = async (id) => {
  console.log(id);

  const response = await api.delete(
    `http://localhost/onboarding_task_2/server/api.php/${id}`
  );

  console.log(response.data);
  fetchData();
};

const handleClickShow = (value) => {
  fixed.value = true;
  updatedTodo.value = value;
};

fetchData();
</script>
