<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="bg-secondary">
      <q-toolbar>
        <q-toolbar-title> Todo Application </q-toolbar-title>

        <div>On Boarding Task # 2</div>
      </q-toolbar>
    </q-header>

    <q-page-container class="bg-teal-1">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script setup></script>
