<template>
  <q-card style="min-width: 400px">
    <q-form @submit="handleSubmit">
      <q-card-section>
        <div class="text-h6">Task ID No: {{ props.id }}</div>
      </q-card-section>

      <q-separator />

      <q-card-section style="max-height: 50vh" class="scroll">
        <q-input
          outlined
          class="q-mb-md"
          dense=""
          v-model="UpdatedData.task_title"
          label="Title"
        />
        <q-input
          outlined
          class="q-mb-md"
          dense=""
          v-model="UpdatedData.task_name"
          label="Content"
          type="textarea"
        />
        <q-input
          outlined
          class="q-mb-md"
          dense
          v-model="UpdatedData.time"
          label="Time"
        >
          <template v-slot:prepend>
            <q-icon name="event" class="cursor-pointer">
              <q-popup-proxy
                cover
                transition-show="scale"
                transition-hide="scale"
              >
                <q-date
                  v-model="UpdatedData.time"
                  :label="props.time"
                  mask="YYYY-MM-DD HH:mm"
                >
                  <div class="row items-center justify-end">
                    <q-btn v-close-popup label="Close" color="primary" flat />
                  </div>
                </q-date>
              </q-popup-proxy>
            </q-icon>
          </template>

          <template v-slot:append>
            <q-icon name="access_time" class="cursor-pointer">
              <q-popup-proxy
                cover
                transition-show="scale"
                transition-hide="scale"
              >
                <q-time
                  v-model="UpdatedData.time"
                  :label="props.time"
                  mask="YYYY-MM-DD HH:mm"
                  format24h
                >
                  <div class="row items-center justify-end">
                    <q-btn v-close-popup label="Close" color="primary" flat />
                  </div>
                </q-time>
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
        <div class="q-mb-md">
          <q-select
            outlined
            :options="options"
            v-model="UpdatedData.status"
            label="Selected Status:"
            class="q-mb-md"
            dense
          />
        </div>
        <q-btn
          type="submit"
          class="bg-primary text-white full-width"
          label="Update"
        />
      </q-card-section>
    </q-form>
  </q-card>
</template>

<script setup>
import { ref, defineProps, onMounted } from "vue";
import { api } from "../boot/axios";
const options = ["Inprogress", "Done"];

const UpdatedData = ref({
  id: "",
  task_title: "",
  task_name: "",
  time: "",
  status: "",
});

const props = defineProps({
  id: {
    type: Number,
    required: true, // Example: If id is required
  },
  task_title: {
    type: String,
    required: true,
  },
  task_name: {
    type: String,
    required: true,
  },
  time: {
    type: String,
    required: true,
  },
  status: {
    type: String,
    required: true,
  },
  refreshData: {
    type: Function,
  },
});

onMounted(() => {
  UpdatedData.value = { ...props };
});

const handleSubmit = async () => {
  await api.put(
    `http://localhost/onboarding_task_2/server/api.php/${UpdatedData.value.id}`,
    UpdatedData.value
  );

  props.refreshData();
};
</script>
